%h1 Edit a person
=simple_form_for @person, url: person_path(@person), method: :patch do |f|
  =f.input :first_name, label: "First name"
  =f.input :name, label: "Last name"
  =f.input :address
  =f.input :city
  =f.input :state
  =f.input :zip
  =f.input :tel, placeholder: '(123) 456-7890'
  =f.input :email, placeholder: 'user@example.com'
  =f.association :categories, label: 'Categories', collection: Category.all, input_html: {class: 'multiselectcategory'}
  = "Select from list, or create new category: "
  =f.input :new_category_name, input_html: {value: f.object.new_category_name}
  %p
  =f.submit "Update person", class: 'button-xs'