.navbar.navbar-default.navbar-fixed-bottom
  .container
    .p.navbar-text.pull-left &copy; 2014 <a href="mailto:jim@jecblack.com">JECB Enterprises</a> and <a href="http://www.salvationarmyconcordca.org">The Salvation Army Concord CA USA</a> 