.col-xs-6.col-md-6.pull-right
  %form.navbar-form{ role: :search, action: "#{people_path}", method: :get }
    .input-group
    - unless session[:query].blank?   
      %input#query.form-control{ type: :text, name: :query, value: "#{session[:query]}"}
    -else
      %input#query.form-control{ type: :text, name: :query, placeholder: "Search"}
    .input-group-btn.pull-right
    %button.btn.btn-default.pull-left.glyphicon.glyphicon-search{type: :submit}