.col-xs-6.col-md-6.pull-right
  %form.navbar-form{ role: :search, action: "#{people_path}", method: :get}
    .input-group   
      %input#query.form-control{ type: :text, placeholder: "Search", name: :query}
        .input-group-btn
          %button.btn.btn-default.glyphicon.glyphicon-search{type: :submit}